//- pokedex.pug

include boilerplatte
include navbar
.container
  .box
    a(href='index.html')
      img#pokemon-image(src='includes/Bilder/001.png', alt='Pokémon 01')

    
    p#pokemon-id #{String(id).padStart(3, '0')}
    p#pokemon-name Pokémon #{String(id).padStart(3, '0')}
    p#pokemon-description Beschreibung: ...
    p#pokemon-type Typ: ...
    p#pokemon-size Größe: ...
include footer

script.
  // Funktion zum Ändern des Bildes und der Pokémon-Daten basierend auf der ID in der Query-Parameter URL
  function changeImageAndData() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const id = urlParams.get('id');
    const image = document.getElementById('pokemon-image');
    const imageUrl = `https://assets.pokemon.com/assets/cms2/img/pokedex/detail/${String(id).padStart(3, '0')}.png`;
    image.src = imageUrl;
    image.alt = `Pokémon ${String(id).padStart(3, '0')}`;

    // JSON-Daten laden und Pokémon-Daten anzeigen
    loadJSONData();
  }

  // Funktion zum Laden der JSON-Daten
  function loadJSONData() {
    fetch('pokemon.json')
      .then(response => response.json())
      .then(data => displayPokemonData(data))
      .catch(error => console.log('Fehler beim Laden der JSON-Daten:', error));
  }

  // Funktion zum Anzeigen der Pokémon-Daten
  function displayPokemonData(pokemonData) {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const id = urlParams.get('id');
    const pokemon = pokemonData[id - 1];
    if (pokemon) {
      document.getElementById('pokemon-id').textContent = String(id).padStart(3, '0');
      document.getElementById('pokemon-name').textContent = pokemon.Name;
      document.getElementById('pokemon-description').textContent = `Beschreibung: ${pokemon.Beschreibung}`;
      document.getElementById('pokemon-type').textContent = `Typ: ${pokemon.Typ}`;
      document.getElementById('pokemon-size').textContent = `Größe: ${pokemon.Größe}`;
    }
  }

  // Aufruf der Funktion beim Laden der Seite
  window.onload = changeImageAndData;
