-
  const data = [
    {
      "Name": "Bisasam",
      "Typ": "Pflanze/Gift",
      "Beschreibung": "Bisasam nimmt während der Entwicklung Energie aus seiner Umgebung auf. Die Knospe auf seinem Rücken wird größer und entwickelt sich zu einem Blütenstand.",
      "Größe": "0.7 m",
      "Bild": "https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
    },
    {
      "Name": "Bisaknosp",
      "Typ": "Pflanze/Gift",
      "Beschreibung": "Bisaknosp besitzt einen großen Blütenstand auf seinem Rücken. In diesem Blütenstand befinden sich Pflanzen, die das Pokémon mit Nährstoffen versorgen.",
      "Größe": "1.0 m",
      "Bild": "../Bilder/002.png"
    },
    {
      "Name": "Bisaflor",
      "Typ": "Pflanze/Gift",
      "Beschreibung": "Bisaflor sammelt Sonnenlicht mit seinen Blütenblättern und wandelt es in Energie um. Es ist in der Lage, einen starken Duft zu verströmen, um Feinde abzuschrecken.",
      "Größe": "2.0 m",
      "Bild": "../Bilder/003.png"
    },
      {
        "Name": "Glumanda",
        "Typ": "Feuer",
        "Beschreibung": "Glumanda speichert Flammen in seinem Bauch, die als Indikator für seine Gesundheit dienen. Es ist äußerst selten in freier Wildbahn anzutreffen.",
        "Größe": "0.6 m",
        "Bild": "../Bilder/004.png"
      },
      {
        "Name": "Glutexo",
        "Typ": "Feuer",
        "Beschreibung": "Glutexo hat ein starkes Feuer in seinem Inneren, das von Tag zu Tag größer wird. Es wird schnell wütend und ist ein hartnäckiger Kämpfer.",
        "Größe": "1.1 m",
        "Bild": "../Bilder/005.png"
      },
      {
        "Name": "Glurak",
        "Typ": "Feuer/Flug",
        "Beschreibung": "Glurak ist ein gefährliches und beeindruckendes Pokémon. Mit seinen mächtigen Flügeln kann es Feuerbälle erzeugen, die ganze Landschaften in Brand setzen können.",
        "Größe": "1.7 m",
        "Bild": "../Bilder/006.png"
      },
      {
        "Name": "Schiggy",
        "Typ": "Wasser",
        "Beschreibung": "Schiggy ist ein kleines und süßes Pokémon, das eine harte Schale trägt. Es kann in Gewässern leben und mit seinen Flossen schnell schwimmen.",
        "Größe": "0.5 m",
        "Bild": "../Bilder/007.png"
      },
      {
        "Name": "Schillok",
        "Typ": "Wasser",
        "Beschreibung": "Schillok ist das entwickelte Form von Schiggy. Sein Panzer hat sich vergrößert und bietet besseren Schutz. Es kann seine Schwimmfähigkeiten weiter verbessern.",
        "Größe": "1.0 m",
        "Bild": "../Bilder/008.png"
      },
      {
        "Name": "Turtok",
        "Typ": "Wasser",
        "Beschreibung": "Turtok ist die finale Entwicklungsstufe von Schiggy. Mit seinem gewaltigen Panzer und seinen starken Schwimmfähigkeiten kann es sich selbst vor den stärksten Angriffen schützen.",
        "Größe": "1.6 m",
        "Bild": "../Bilder/009.png"
      },
      {
        "Name": "Raupy",
        "Typ": "Käfer",
        "Beschreibung": "Raupy besitzt einen starken Appetit und frisst ständig Blätter. Es ist schwach und vorsichtig, sodass es bei Gefahr seinen Körper mit einem Seidenfaden schützt.",
        "Größe": "0.3 m",
        "Bild": "../Bilder/010.png"
      },
      {
        "Name": "Safcon",
        "Typ": "Käfer",
        "Beschreibung": "Safcon hat einen schützenden Kokon um seinen Körper gewebt. Es bleibt in diesem Kokon verborgen und entwickelt sich langsam weiter.",
        "Größe": "0.7 m",
        "Bild": "../Bilder/011.png"
      },
      {
        "Name": "Smettbo",
        "Typ": "Käfer/Flug",
        "Beschreibung": "Smettbo ist das entwickelte Form von Safcon. Es hat zarte Flügel und ist ein geschickter Flieger. Es saugt Nektar aus Blumen, um seine Kräfte wiederherzustellen.",
        "Größe": "1.0 m",
        "Bild": "../Bilder/012.png"
      },
      {
        "Name": "Hornliu",
        "Typ": "Käfer/Gift",
        "Beschreibung": "Hornliu besitzt einen giftigen Stachel auf seinem Kopf. Es nutzt seinen Stachel zum Schutz vor Feinden und zur Verteidigung.",
        "Größe": "0.3 m",
        "Bild": "../Bilder/013.png"
      },
      {
        "Name": "Kokuna",
        "Typ": "Käfer/Gift",
        "Beschreibung": "Kokuna hat sich in einen dicken Kokon eingewebt. Während dieser Phase findet keine Entwicklung statt, es wartet nur auf den richtigen Zeitpunkt, um sich weiterzuentwickeln.",
        "Größe": "0.6 m",
        "Bild": "../Bilder/014.png"
      },
      {
        "Name": "Bibor",
        "Typ": "Käfer/Gift",
        "Beschreibung": "Bibor ist das entwickelte Form von Hornliu. Es hat scharfe Klingen an seinen Armen und kann mit seinen Giftstacheln tödliche Angriffe durchführen.",
        "Größe": "1.5 m",
        "Bild": "../Bilder/015.png"
      },
      {
        "Name": "Taubsi",
        "Typ": "Normal/Flug",
        "Beschreibung": "Taubsi hat einen ausgezeichneten Orientierungssinn und kann immer den Weg nach Hause finden, selbst über weite Entfernungen. Es ist ein häufiges Pokémon.",
        "Größe": "0.3 m",
        "Bild": "../Bilder/016.png"
      },
      {
        "Name": "Tauboga",
        "Typ": "Normal/Flug",
        "Beschreibung": "Tauboga ist das entwickelte Form von Taubsi. Es hat eine größere Flügelspannweite und kann längere Strecken fliegen. Es gilt als treuer Begleiter.",
        "Größe": "1.2 m",
        "Bild": "../Bilder/017.png"
      },
      {
        "Name": "Tauboss",
        "Typ": "Normal/Flug",
        "Beschreibung": "Tauboss ist die finale Entwicklungsstufe von Taubsi. Es hat einen majestätischen Flug und kann hohe Geschwindigkeiten erreichen. Es verteidigt sein Territorium energisch.",
        "Größe": "1.6 m",
        "Bild": "../Bilder/018.png"
      },
      {
        "Name": "Rattfratz",
        "Typ": "Normal",
        "Beschreibung": "Rattfratz hat große Vorderzähne, mit denen es alles anknabbern kann. Es ist nachtaktiv und sucht in der Dunkelheit nach Nahrung.",
        "Größe": "0.3 m",
        "Bild": "../Bilder/019.png"
      },
      {
        "Name": "Rattikarl",
        "Typ": "Normal",
        "Beschreibung": "Rattikarl ist das entwickelte Form von Rattfratz. Es hat scharfe Zähne und kann damit mühelos durch harte Gegenstände beißen. Es ist ein geschickter Jäger.",
        "Größe": "0.7 m",
        "Bild": "/Bilder/020.png"
      }
    ]
//- pokedex.pug

include boilerplatte
include navbar
.container
  .box
    a(href=`pokedex.html?id=${String(i+1).padStart(4, '0')}`)
      img#pokemon-image(src='includes/Bilder/001.png', alt=`Pokémon ${String(id).padStart(2, '0')}`)


    
    p#pokemon-id #{String(id).padStart(2, '0')}
    p#pokemon-name Pokémon #{String(id).padStart(2, '0')}
    p#pokemon-description Beschreibung: ...
    p#pokemon-type Typ: ...
    p#pokemon-size Größe: ...
include footer

script.
  // Funktion zum Ändern des Bildes und der Pokémon-Daten basierend auf der ID in der Query-Parameter URL
  function changeImageAndData() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const id = urlParams.get('id');
    const image = document.getElementById('pokemon-image');
    const imageUrl = `https://assets.pokemon.com/assets/cms2/img/pokedex/detail/${String(id).padStart(3, '0')}.png`;
    image.src = imageUrl;
    image.alt = `Pokémon ${String(id).padStart(3, '0')}`;

    // JSON-Daten laden und Pokémon-Daten anzeigen
    loadJSONData();
  }

  // Funktion zum Laden der JSON-Daten
  function loadJSONData() {
    fetch('pokemon.json')
      .then(response => response.json())
      .then(data => displayPokemonData(data))
      .catch(error => console.log('Fehler beim Laden der JSON-Daten:', error));
  }

  // Funktion zum Anzeigen der Pokémon-Daten
  function displayPokemonData(pokemonData) {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const id = urlParams.get('id');
    const pokemon = pokemonData[id - 1];
    if (pokemon) {
      document.getElementById('pokemon-id').textContent = String(id).padStart(3, '0');
      document.getElementById('pokemon-name').textContent = pokemon.Name;
      document.getElementById('pokemon-description').textContent = `Beschreibung: ${pokemon.Beschreibung}`;
      document.getElementById('pokemon-type').textContent = `Typ: ${pokemon.Typ}`;
      document.getElementById('pokemon-size').textContent = `Größe: ${pokemon.Größe}`;
    }
  }

  // Aufruf der Funktion beim Laden der Seite
  window.onload = changeImageAndData;
